@import "colors";

.bg-ming {
  background-color: $ming;
}
.bg-apple {
  background-color: $apple;
}
.bg-cultured {
  background-color: $cultured;
}

.bg-rosetaupe {
  background-color: $rosetaupe;
}
.bg-spanishpink {
  background-color: $spanishpink;
}

.gradient-ming-to-apple {
  background-image: linear-gradient(
    to right top,
    #3c6e71,
    #428882,
    #4fa18e,
    #67bb95,
    #88d498
  );
}

.pmc-gradient-pink {
  background-image: linear-gradient(
    to right bottom,
    #f7c1bb,
    #dba5a2,
    #c08a8a,
    #a57072,
    #8b575c
  );
}

.gradient-ming-to-onyx {
  /* Created with https://www.css-gradient.com */
  background: #3c6e71;
  background: -webkit-linear-gradient(top left, #3c6e71, #3c3c3c);
  background: -moz-linear-gradient(top left, #3c6e71, #3c3c3c);
  background: linear-gradient(to bottom right, #3c6e71, #3c3c3c);
}
