@import "colors";

.btn {
  text-align: center;
}
.btn > span {
  font-weight: bolder;
}

.btn,
.btn:hover {
  transition: background-color 0.3s ease;
  text-decoration: none !important;
}

.btn > span {
  text-decoration: none !important;
}

.btn-ming {
  background-color: $ming;
  color: $cultured;
  font-weight: bold;
}
.btn-ming:hover {
  background-color: $ming-aux;
}
.btn-ming:active {
  background-color: $onyx;
}

.btn-apple {
  background-color: $apple;
  color: $onyx;
  font-weight: bolder;
}
.btn-apple:hover {
  background-color: $apple-light;
}

.btn-with-love > span {
  padding-right: 0;
}

.btn-with-love:after {
  content: "♥";
  color: transparent;
  display: inline-block;
  position: relative;
  right: -15px;
  transition: all 0.2s ease, color 0.05s ease-in;
  transition-delay: 0s;
}

.btn-with-love:hover:after {
  margin: -5px 10px;
  right: 0;
  color: #e74c3c;
  transition: all 0.2s ease, color 0.2s ease;

  transition-delay: 0s, 0.1s;
}

@mixin transition(
  $property: all,
  $duration: 0.45s,
  $ease: cubic-bezier(0.65, 0, 0.076, 1)
) {
  transition: $property $duration $ease;
}

* {
  box-sizing: border-box;
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

button.animated-arrow-button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  &.animated-arrow-button {
    width: 12rem;
    height: auto;
    .circle {
      @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
      position: relative;
      display: block;
      margin: 0;
      width: 3rem;
      height: 3rem;
      background: $apple;
      border-radius: 1.625rem;
      .icon {
        @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        background: $onyx;
        &.arrow {
          @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
          left: 0.625rem;
          width: 1.125rem;
          height: 0.125rem;
          background: none;
          &::before {
            position: absolute;
            content: "";
            top: -0.25rem;
            right: 0.0625rem;
            width: 0.625rem;
            height: 0.625rem;
            border-top: 0.125rem solid $onyx;
            border-right: 0.125rem solid $onyx;
            transform: rotate(45deg);
          }
        }
      }
    }
    .button-text {
      @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 0.75rem 0;
      margin: 0 0 0 1.85rem;
      color: $onyx;
      font-weight: 700;
      line-height: 1.6;
      text-align: center;
    }
  }
  &:hover {
    .circle {
      width: 100%;
      .icon {
        &.arrow {
          background: $onyx;
          transform: translate(1rem, 0);
        }
      }
    }
    .button-text {
      color: $onyx;
    }
  }
}
