//GrannySmith

$onyx: #3c3c3c !default;
$cultured: #f1f1f1 !default;

$ming: #3c6e71 !default;
$ming-aux: #4b5563 !default;

$apple: #88d498 !default;
$apple-light: #baeac4 !default;
$apple-dark: #65ad73 !default;

$spanishpink: #f7c1bb !default;
$rosetaupe: #8b575c !default;
$light: #f1f1f1 !default;
$dark: $onyx !default;
$darker: darken($onyx, 100);
