@import "colors";

.App-logo {
  height: 30vmin;
  pointer-events: none;
}

.App-header {
  background-color: $ming;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.btn-apple {
  background-color: $apple;
  color: $onyx;
}
.btn-apple:hover {
  background-color: $apple;
  color: $onyx;
  outline: 5px $cultured solid;
}
.btn-ming {
  background-color: $ming;
  color: $onyx;
}
.btn-ming:hover {
  background-color: $ming;
  color: $onyx;
  outline: 5px $cultured solid;
}
.btn-spanishpink {
  background-color: $spanishpink;
  color: $onyx;
}

.bg-ming {
  background-color: $ming;
}
.bg-apple {
  background-color: $apple;
}
.bg-cultured {
  background-color: $cultured;
}
.border-ming {
  border-color: $ming;
}
.pmc-h1 {
  font-weight: 600;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
.pmc-h2 {
  font-weight: 600;
  letter-spacing: 0.01em;
}

.pmc-h6 {
  font-weight: 600;
  letter-spacing: 0.02em;
  color: $ming;
  text-transform: uppercase;
}
.pmc-gradient-green {
  background-image: linear-gradient(
    to right top,
    #3c6e71,
    #428882,
    #4fa18e,
    #67bb95,
    #88d498
  );
}
.pmc-gradient-pink {
  background-image: linear-gradient(
    to right bottom,
    #f7c1bb,
    #dba5a2,
    #c08a8a,
    #a57072,
    #8b575c
  );
}

.gradient-ming-to-onyx {
  /* Created with https://www.css-gradient.com */
  background: #3c6e71;
  background: -webkit-linear-gradient(top left, #3c6e71, #3c3c3c);
  background: -moz-linear-gradient(top left, #3c6e71, #3c3c3c);
  background: linear-gradient(to bottom right, #3c6e71, #3c3c3c);
}
