@import "colors";

.text-apple,
.hover-text-apple:hover {
  color: $apple;
}

.text-apple-dark {
  color: $apple-dark;
}
.text-ming {
  color: $ming;
}
.text-onyx {
  color: $onyx;
}

.text-cultured {
  color: $cultured;
}

.text-rosetaupe {
  color: $rosetaupe;
}

.text-spanishpink {
  color: $spanishpink;
}
