@import "colors";

.text-apple,
.hover-text-apple:hover {
  color: $apple;
}

.text-apple-dark {
  color: $apple-dark;
}
.text-ming {
  color: $ming;
}
.text-onyx {
  color: $onyx;
}

.text-cultured {
  color: $cultured;
}

.text-rosetaupe {
  color: $rosetaupe;
}

.text-spanishpink {
  color: $spanishpink;
}

.text-uppercase {
  text-transform: uppercase;
}

.pmc-h1 {
  font-weight: 600;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
.pmc-h2 {
  font-weight: 600;
  letter-spacing: 0.01em;
}

.pmc-h6 {
  font-weight: 600;
  letter-spacing: 0.02em;
  color: $ming;
  text-transform: uppercase;
}

.pmc-topline {
  font-weight: 500;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.blog-entry p {
  margin: 1em 0;
}
.blog-entry h1,
.blog-entry h2,
.blog-entry h3,
.blog-entry h4,
.blog-entry h5,
.blog-entry h6 {
  margin: 2em 0;
}
