//GrannySmith

$onyx: #3C3C3C !default;
$cultured: #F1F1F1 !default;

$ming: #3C6E71 !default;
$apple: #88D498 !default;
$spanish: #F7C1BB !default;
$rose: #8B575C !default;
$light: #f1f1f1 !default;
$dark: $onyx !default;
$darker: darken($onyx, 100);